In [1]:
import glob
import pandas as pd
import numpy as np

# get data file names
path =r'C:\Users\utilisateur\Desktop\Run_Questionnaire\DataSet'
filenames = glob.glob(path + "/DataSet*.csv")
# une boucle
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
dataset_brut = pd.concat(dfs, ignore_index=True)

In [2]:
#visualisations
print(dataset_brut)

    Q1 Q2   Q3   Q4   Q5   Q6   Q7   Q8 Q9 Q10  Score Interpretation
0    a  a    a    a    a    1    1    1  1   1     10              B
1    b  b    b    b    b    2    2    2  2   2      0              C
2    c  c    c    c    c    3    3    3  3   3     20              A
3    a  b    c    a    b    1    2    3  1   2      8              C
4    b  c    a    c    a    3    2    3  1   2     11              B
..  .. ..  ...  ...  ...  ...  ...  ... ..  ..    ...            ...
220  c  c  NaN    c    c  NaN  NaN  3.0  3   3     14              B
221  b  a    c  NaN    b  NaN  2.0  NaN  3   2      5              C
222  a  c    b  NaN  NaN  1.0  NaN  3.0  2   3      8              C
223  a  n    e    a    b    v    t    Y  '   1      3              C
224  A  b    c   lk    k    n    2    0  5   3      4              C

[225 rows x 12 columns]

In [3]:
# verif le % de missing
for col in dataset_brut.columns:
    pct_missing = np.mean(dataset_brut[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Q1 - 4.0%
Q2 - 6.0%
Q3 - 6.0%
Q4 - 4.0%
Q5 - 7.0%
Q6 - 6.0%
Q7 - 5.0%
Q8 - 6.0%
Q9 - 4.0%
Q10 - 4.0%
Score - 0.0%
Interpretation - 0.0%

In [4]:
# remplacer les vides par 0
dataset_brut = dataset_brut.fillna(0)

In [5]:
#on uniformise majuscule et miniscule
dataset=dataset_brut.replace({'A':'a', 'B': 'b', 'C': 'c'})
dataset

    Q1 Q2 Q3  Q4 Q5   Q6   Q7   Q8 Q9 Q10  Score Interpretation
0    a  a  a   a  a    1    1    1  1   1     10              b
1    b  b  b   b  b    2    2    2  2   2      0              c
2    c  c  c   c  c    3    3    3  3   3     20              a
3    a  b  c   a  b    1    2    3  1   2      8              c
4    b  c  a   c  a    3    2    3  1   2     11              b
..  .. .. ..  .. ..  ...  ...  ... ..  ..    ...            ...
220  c  c  0   c  c    0    0  3.0  3   3     14              b
221  b  a  c   0  b    0  2.0    0  3   2      5              c
222  a  c  b   0  0  1.0    0  3.0  2   3      8              c
223  a  n  e   a  b    v    t    Y  '   1      3              c
224  a  b  c  lk  k    n    2    0  5   3      4              c

[225 rows x 12 columns]

In [10]:
dataset['Q1']=dataset['Q1'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: 'a'

In [7]:
print (dataset.dtypes)

Q1                object
Q2                object
Q3                object
Q4                object
Q5                object
Q6                object
Q7                object
Q8                object
Q9                object
Q10               object
Score              int64
Interpretation    object
dtype: object

dataset.replace({'Q1' : { 'A' : 'a', 'B' : 'b' , 'C' : 'c' , 'NaN' : '0'},
                'Q2' : { 'A' : 'a', 'B' : 'b' , 'C' : 'c' , 'NaN' : '0'},
                'Q3' : { 'A' : 'a', 'B' : 'b' , 'C' : 'c' , 'e' : '0'}})

# remplacer les NaN par 0
dataset.replace("NaN", 
           0, 
           inplace=True)

# remlacer les abberations par 0





# lisser majuscules et minuscules
dataset.replace("A", 
           "a", 
           inplace=True)
dataset.replace("B", 
           "b", 
           inplace=True)
dataset.replace("C", 
           "c", 
           inplace=True)


dataset.replace("a", 
           "1", 
           inplace=True)
# pas besoin de le refaire pour la valeur 1 evidemment 

#remplacer les b ou 2 pour leurs assigner 0 point

dataset.replace("b", 
           "0", 
           inplace=True)
dataset.replace("2", 
           "0", 
           inplace=True)

#remplacer les c ou 3 pour leurs assigner 2 point

dataset.replace("c", 
           "2", 
           inplace=True)
dataset.replace("3", 
           "2", 
           inplace=True)

# assigner x Ã  toutes les questions et y Ã  la classe
#on exclus le score total
x = dataset.iloc[:, :11].values
y = dataset.iloc[:,:-1].values

print(dataset)

print(x)